:root {
  --color-primary: hsl(123, 81%, 30%);
  --color-primary-darker: hsl(123, 81%, 20%);
  --color-secondary: hsl(60, 1%, 40%);
  --color-secondary-darker: hsl(60, 1%, 30%);
  --header-height: 6rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}


header, main {
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 75rem;
  padding: 0 1rem;
}


header {
  background-color: var(--color-primary);
  height: var(--header-height);
  box-shadow: 0 2px 5px #333333;
}

.header-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: var(--header-height);
  justify-content: center;
}

.header-title {
  margin: 0 0 0 1rem;
  font-size: calc(var(--header-height) / 2);
  font-weight: 600;
  color: white;
}


.color-picker {
  display: flex;
  padding: 3rem 2rem;
  justify-content: center;
  flex-direction: row;
}

.section-title {
  width: 100%;
  margin: 0 0 1rem 0;
  font-size: 4.2vmin;
  font-weight: 600;
  text-align: center;
}

.colors-grid, .color-details {
  border-radius: 1px;
  box-shadow: 0 3px 10px #333333;
  padding: 1rem;
}

.colors-grid {
  width: 70%;
  margin-right: 3rem;
}

.colors-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color-item {
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  margin: 2%;
}

.color-btn {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  cursor: pointer;
}

.color-details {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-preview {
  width: 80%;
  padding-bottom: 40%;
  margin: 1rem auto;
}

.details-wrapper {
  width: 100%;
  margin-bottom: 2.5rem;
}

.color-detail {
  width: 100%;
  text-align: center;
  font-size: 2.6vmin;
  margin-bottom: 0.5vmin;
}

.gradients-btn {
  background-color: var(--color-primary);
  color: white;
  font-size: 2.5vmin;
  border: none;
  padding: 0.4rem min(10%, 3rem);
  margin: auto auto 3rem;
  box-shadow: 0 2px 5px #333333;
  cursor: pointer;
}
.gradients-btn:hover {
  background-color: var(--color-primary-darker);
}

.gradients-btn.selected {
  background-color: var(--color-secondary);
}
.gradients-btn.selected:hover {
  background-color: var(--color-secondary-darker);
}

.color-btn, .color-preview {
  border: 1px solid #e3e3e3;
}


@media screen and (max-width: 900px) {
  :root {
    --header-height: 4rem;
    --color-btn-size: 6rem;  
  }
  
  .color-picker {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .colors-grid, .color-details {
    width: 100%;
  }

  .section-title {
    font-size: 5vmax;
  }

  .colors-grid {
    margin: 0 0 2rem;
  }

  .color-preview {
    padding-bottom: 20%;
  }

  .color-detail {
    font-size: 3.3vmax;
  }

  .gradients-btn {
    font-size: 3vmax;
    margin-bottom: 1rem;
  }
}
